{% extends 'Site/base1.html' %}
{% block title %}Наушники{% endblock %}
{% block content %}
{% load static %}
<main>
    <div class="container-lg mt-5 pt-4">
        <div class="row">
            <div class="col-sm-8">
                <nav class="navbar navbar-expand-lg
                    navbar-dark mdb-color purple lighten-3 mt-3 mb-5">
                    <span class="navbar-brand">Наушники</span>
                    <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#nextNavbar"
                            aria-controls="nextNavbar" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nextNavbar">
                        <form action="" method="get"  id="target">
                            <div class="md-form my-0">
                            <input type="text" id="search" class="form-control mr-sm-2" name="H_HeadSet_name_contains"
                                    placeholder="Поиск" aria-label="Search">
                            </div>
                        </form>
                    </div>
                </nav>
                <section class="text-center mb-4">
                    <div  class="row wow fadeIn">
                    {% for hs in queryset %}
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card">
                                <div class="view overlay">
                                    <{{ hs.headset_image_set }}>
                                    <a href="{{ hs.get_absolute_url }}">
                                    <div class="mask rgba-white-slight"></div>
                                        </a>
                                </div>
                                <div class="card-body text-center">
                                    <a href="{{ hs.get_absolute_url }}" class="grey-text">
                                        <h5>{{ hs.H_HeadSet_name }}</h5>
                                    </a>
                                    <h5>
                                        <strong>
                                            <a href="{{ hs.get_absolute_url }}" class="dark-grey-text"> {{hs.H_HeadSet_Manufacturer}}
                                                <span class="badge badge-pill danger-color">
                                                Новый
                                            </span></a>
                                        </strong>
                                    </h5>
                                    <h4 class="font-weight-bold blue-text">
                                        <strong>{{hs.H_HeadSet_Price}} Рублей</strong>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <div class="card-header purple lighten-3 text-white">
                        <div class="h5 card-title d-flex align-items-center">
                            <i class="fa fa-bars mr-1" aria-hidden="true"></i>
                            Фильтр
                        </div>
                    </div>
                <form method="get">
                    <div class="form-group card-body mt-1">
                          <div class="mb-3">
                            <h3 class="filter-price__title">Цена</h3>
                            <div class="filter-price__slider" id="range-slider"></div>
                            <div class="filter-price__inputs">
                            <label class="form-control filter-price__label">
                                <span class="filter-price__text">от</span>
                                <input type="number" min=0 max="25000" class="filter-price__input" id="minPrice" placeholder="0" name="min_price">
                                <span class="filter-price__text">₽</span>
                            </label>
                            <label class="form-control filter-price__label">
                                <span class="filter-price__text">до</span>
                                <input type="number" min=0 max="25000" class="filter-price__input" id="maxPrice" placeholder="10000" name="max_price">
                                <span class="filter-price__text">₽</span>
                            </label>
                            </div>
                        </div>
                    <div class="form-group">
                          {% for man in manufacturer %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="manufactur" name="manufactur" value="{{ man.Manufacturer_id }}">
                            <span class="form-check-label">{{ man.Manufacturer_name }}</span>
                        </div>
                          {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="ConnectionInt">Интерфейс подключения</label>
                        <select id="ConnectionInt" class="form-control" name="connectint">
                          <option selected>----</option>
                          {% for cint in connectint %}
                          <option value="{{ cint }}">{{ cint }}</option>
                          {% endfor %}
                        </select>
                    </div>
                        <div class="form-group">
                        <label for="ConnectType">Тип подключения</label>
                        <select id="ConnectType" class="form-control" name="connecttype">
                          <option selected>----</option>
                          {% for cnt in connecttype %}
                          <option value="{{ cnt }}">{{ cnt }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Schemes">Схема звука</label>
                        <select id="Schemes" class="form-control" name="scheme">
                          <option selected>----</option>
                          {% for scheme in scheme %}
                          <option value="{{ scheme }}">{{ scheme }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Hertz">Диапозон частот</label>
                        <select id="Hertz" class="form-control" name="hz">
                          <option selected>----</option>
                          {% for hz in hz %}
                          <option value="{{ hz.H_HeadSet_Hz_id }}">{{ hz }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Sens">Чувствительность</label>
                        <select id="Sens" class="form-control" name="sens">
                          <option selected>----</option>
                          {% for sn in sens %}
                          <option value="{{ sn }}">{{ sn }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Set">Комплект</label>
                        <select id="Set" class="form-control" name="set">
                          <option selected>----</option>
                          {% for set in set %}
                          <option value="{{ set }}">{{ set }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary d-flex ">Найти</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
document.getElementById("search").onchange = function() {
    document.getElementById("target").submit();
}
function fun1() {
  var rng=document.getElementById('r1');
  var p=document.getElementById('one');
  p.innerHTML=rng.value;
}
</script>
    {% endblock %}